<div class="jumbotron">
    <div class="inner_border container">
        <div class="row">
        </div>
            <div class="welcome_box shadow">
                    <div class="px-5">
                        <h1>Welcome to Technode Pro!</h1>
                        <br/>
                        <p>"This is a user-based full-stack web application I built using Ruby on Rails framework."</p>
                        <br/>
                        <p>"Everything in the site functional so please feel free to check them out and explore. Thank you for visitng!"</p>
                    </div>
                <div class="d-flex justify-content-center mt-5">
                    <%= link_to "Sign up", signup_path, class: "btn btn-outline-light btn-lg" %>
                </div>
            </div>
    </div>
</div>

