<div class="jumbotron">
    <div class="inner_border container">
        <div class="row">
        </div>
            <div class="welcome_box shadow">
                    <div class="px-5">
                        <h1>Welcome to Technode Pro!</h1>
                        <br/>
                        <p>"Where ideas come to life. Share your thoughts, explore diverse perspectives, and engage with a vibrant community of tech writers."</p>
                        <br/>
                        <p>"Whether you're here to share your insights, read compelling stories, or connect with like-minded individuals, TECHNODE PRO is the place for meaningful conversations and creative expression."</p>
                       
                    </div>
                <div class="d-flex justify-content-center mt-5">
                    <%= link_to "Sign up", signup_path, class: "btn btn-outline-light btn-lg" %>
                </div>
            </div>
    </div>
</div>

