.card-frame{
    padding: 20px;
    border-radius: 25px;
    color: white;
    background: #54b3d6;
    background: linear-gradient(to right, #2e81ec, #33aeff, #33adffd3, #2e81ec);
}

@media (max-width: 768px)  {
    .card_frame {
      flex-direction: column; /* Single layer for medium screens */
    }
  }

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    column-gap: 10px;
}

.avatar{
    border-radius: 50px;
    padding-top: 8px;
    background-color: #053b81;
    border: solid 2px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}