
.card-head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    column-gap: 10px;
  }
.avatar{
    border-radius: 50px;
    padding-top: 8px;
    background-color: #54b3d6;
    border: solid 2px rgb(178, 178, 178);
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow:hidden;
}
.avatar img{

}



.image-box {
    height: 75%; /* Set a fixed height for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container and maintains aspect ratio */
    display: block;
}

