.avatar{
    border-radius: 50px;
    padding-top: 8px;
    background-color: #2ea217;
    border: solid 2px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }