.comment {
    border-radius: 10px;
    padding: 15px;
    background-color: rgba(184, 198, 205, 0.555);
}

.reply-body{
    padding: 15px;
    border-radius: 30px;
    background-color: rgba(229, 236, 238, 0.555);

}