<div class="session container mt-5">
    <%= render "form_login_session" %>
    <div class="text-center text-decoration-none">
       <%= link_to "[ Cancel and return to Home page ]", root_path, class: "link-action" %>
    </div>
</div>