<div class="jumbotron">
    <div class="about_inner_border container">
        <div class="row">
        </div>
            <div class="about_box shadow">
                    <div class="px-5 text-blue">
                        <h1>About Technode Pro</h1>
                        <br/>
                        <p>"Where ideas come to life. Share your thoughts, explore diverse perspectives, and engage with a vibrant community of writers."</p>
                        <br/>
                        <p>"Whether you're here to share your insights, read compelling stories, or connect with like-minded individuals, Alpha Blog is the place for meaningful conversations and creative expression."</p>
                    </div>
            </div>
    </div>
</div>