<div>
<%= render "elements/users-banner" %>
</div>
    <div class="articles container mt-5">
        <%= render "contributors" %>
        <div class="flickr_pagination text-center" style="display: inline-block; text-align-center">
            <%= will_paginate @users, :container => false %> 
        </div>
    </div>
</div>
