<div class="container mt-5">
    <%= render "form_new_user" %>
    <div class="text-center text-decoration-none">
        <p><%= link_to "[ Cancel and return to Articles ]", articles_path, class: "user-cancel" %></p>
    </div>
</div>