<div class="container mt-5">
    <%= render "form_new_user" %>
    <div class="text-center text-decoration-none">
        <p><%= link_to "[ Cancel and return to Articles ]", articles_path, class: "text-info text-warning-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %></p>
    </div>
</div>