<div class="mt-5 d-flex row align-items-center text-center">
   <div> <%= render "form_new_user" %></div>
    <div class="text-center text-decoration-none">
       <%= link_to "[ Cancel and return to Articles ]", articles_path, class: "link-action" %>
    </div>
</div>