<div class="container justify-content-center">
<% if @user.errors.any? %>
<%= render "shared/errors", obj: @user %>
<% else %>

<h3>Sign Up</h3>

<% end %>
    <%= render "form_new_user" %>
    <div class="text-center text-decoration-none">
        <p><%= link_to "[ Cancel and return to Articles ]", articles_path, class: "text-info text-decoration-none" %></p>
    </div>
</div>