<div class="container">
    <%= render "shared/errors", obj: @user %>
    <%= render "form_new_user" %>
    <div class="text-center text-decoration-none">
        <p><%= link_to "[ Cancel and return to Articles ]", articles_path, class: "text-info text-decoration-none" %></p>
    </div>
      
</div>