<div class="mt-5 text-center">
    <%= render "form_new_user" %>
    <div class="text-center text-decoration-none">
      <%= render "form_new_user" %>
       <%= link_to "[ Cancel and return to Articles ]", articles_path, class: "link-action" %>
    </div>
</div>