<div>
    <h3>Add a comment:</h3>
</div>
<div>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    
        <p>
            <%= form.label :add_comment, class: "form-label" %><br/>
            <%= form.text_area :body, class: "form-control shadow-sm"  %>
        </p>
      
        <div class="text-end">
            <%= form.submit class: "btn btn-outline-info btn-md" %>
        </div>
    <% end %>
</div>