
<div>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    
        <div  class="mb-5">
            <%= form.label :add_comment, class: "form-label" %><br/>
            <%= form.text_area :body, class: "form-control shadow", placeholder: "Type your comment here..."   %>
        </div>
            
    <% end %>
     <%= render "shared/form-submit", formats: [:js] %>

</div>