<div>
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
    
        <p>
            <%= form.label :add_comment, class: "form-label" %><br/>
            <%= form.text_area :body, class: "form-control shadow-sm"  %>
        </p>
      
        <div class="text-end mb-5">
            <%= form.submit class: "btn btn-outline-info btn-md shadow-sm" %>
        </div>
    <% end %>
</div>