<div class="mt-3">
    <h5>Top Comments (0)</h5>
    <% @article.comments.each do |comment| %>
        <p>
         
          <%= comment.body %>
           <%= comment.user.username %>
          <% if comment.user == current_user || current_user.admin? %>

                <p>
                    <%= link_to "Remove Comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </p>
            </div>
            <hr/>
        <% end %>    
    <% end %>
</div>