<div>
    <% @article.comments.each do |comment| %>
        <div class="card">
            <p>
                <strong>Commenter:</strong>
                <%= comment.commenter %>
            </p>
            <p>
                <strong>Comment:</strong>
                <%= comment.body %>
            </p>
        </div>
        <hr/>
    <% end %>
</div>