<div class="mt-3">
    <h5>Top Comments (0)</h5>
    <% @comments.each do |comment| %>
        <p>
          <strong><%= comment.commenter %>:</strong>
          <%= comment.body %>
          <% if comment.user == current_user || current_user.admin? %>
</p>
                <p>
                    <%= link_to "Remove Comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </p>
            </div>
            <hr/>
        <% end %>    
    <% end %>
</div>