<div class="mt-3">

    <h5>Top Comments (0)</h5>
    <% @article.comments.each do |comment| %>
        <% unless comment.archived? %>
            <div class="">
                <p>
                    <strong>Name:</strong>
                    <%= comment.commenter %>
                </p>
                <p>
                    <strong>Comment:</strong>
                    <%= comment.body %>
                </p>

                <p>
                    <%= link_to "Remove Comment", [comment.article, comment], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                </p>
            </div>
            <hr/>
        <% end %>    
    <% end %>
</div>