<div>
  <p><%= @comment.body %></p>
  <p>Posted by: <%= comment.user.username %></p>

  <h3>Replies</h3>
  <ul>
    <% comment.replies.each do |reply| %>
      <li>
        <p><%= reply.reply_body %></p>
        <p>Reply by: <%= reply.user.username %></p>
      </li>
    <% end %>
  </ul>
</div>
