<div>
    <p>Comments</p>
    <% @article.comments.each do |comment| %>
        <% unless comment.archived> %>
            <div class="card">
                <p>
                    <strong>Name:</strong>
                    <%= comment.commenter %>
                </p>
                
                <p>
                    <strong>Comment:</strong>
                    <%= comment.body %>
                </p>
            </div>
            <hr/>
        <% end %>    
    <% end %>
</div>