<nav class="navbar navbar-expand-lg bg-info mh-100" data-bs-theme="dark" style="height: 80px;">
    <div class="container">
        <div>
        <%= link_to "EXPLORE Technology", root_path, class: "navbar-brand" %><i class="text-secondary"><%= Article.public_count %> blog articles and counting!</i>
        </div>
        

            <div class="btn-group">
                <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    What would you like to do?
                </button>
                <ul class="dropdown-menu">
                    <li><%= link_to "Create New", new_article_path, class: "dropdown-item" %></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>
    </div>
</nav>