<div class="container mt-5">
    <%= render "shared/errors", obj: @article %>
    <%= render "form-edit" %>
    <div class="text-center text-decoration-none">
    <%= link_to "[ Cancel and return to Articles ]", articles_path, class: "action-cancel" %>
 </div>
</div>