<div>
<%= render "elements/articles-banner" %>
</div>
    <div class="articles container mt-5">
        <%= render "articles" %>
     
    
 <i class="flickr_pagination">
      <%= will_paginate @articles, :container => false %> 
  </i>
    </div>
</div>





