<div>
<%= render "elements/articles-banner" %>
</div>
    <div class="articles container mt-5">
        <%= render "articles" %>
      <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
  </div>
    </div>
</div>





