<div>
<%= render "elements/articles-banner" %>
</div>
    <div class="articles container mt-5">
        <%= render "articles" %>
     
    
 <strong class="flickr_pagination text-center">
      <%= will_paginate @articles, :container => false %> 
  </strong>
    </div>
</div>





