<div>
<%= render "elements/articles-banner" %>
</div>
    <div class="articles containermt-5">
            <%= render "articles" %>
        <div class="flickr_pagination  text-center ", style="display: inline-block;">
            <%= will_paginate @articles, :container => false %> 
        </div>
    </div>
</div>





