<div>
    <div>
        <h1>Articles</h1>
        Our Blog has <%= Article.public_count %> articles and counting!
        <%= link_to "Create New", new_article_path %>
    </div>
    <div>
        <%= render "articles" %>
    </div>
</div>





