<div class="">
    <nav  class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <h1>Articles</h1>
        <%= link_to "Create New", new_article_path %>
    </nav>
    <div class="articles">
        <%= render "articles" %>
    </div>
</div>





