<div>
<%= render "elements/articles-banner" %>
</div>
    <div class="articles container mt-5">
            <%= render "articles" %>
        <div class="d=flex">
        <div class="flickr_pagination", style="display: inline-block; margin: 0 auto;">
        <%= will_paginate @articles, :container => false %> 
    </div>
        </div>
       
    </div>
</div>





