<div>
    <%= render "elements/article-banner" %>
</div>
<div class="container mt-5">
    <div>
        <%= render "article" %>
        <%= render "comments" %>
     <div>
 <% if logged_in? %>
        <%= render "comment" %>
   <% end %>
    </div>
    </div>
</div>