<div class="container mt-5">
    <%= render "form_edit_user" %>
    <div class="text-center text-decoration-none">
       <%= link_to "[ Cancel and return to Articles ]", articles_path, class: "user-cancel" %>
    </div>
</div>