<nav class="navbar navbar-expand-lg bg-success mh-100" data-bs-theme="dark" style="height: 75px;">
    <div class="container">
        <div>
        <%= link_to "Premium Article", root_path, class: "navbar-brand" %>
        </div>
           <%= render "elements/show-dropdown" %>
    </div>
</nav>