<nav class="navbar navbar-expand-lg bg- mh-100" data-bs-theme="dark" style="height: 75px;">
    <div class="container">
        <div>
        <%= link_to "EXPLORE Technology", root_path, class: "navbar-brand" %><i class="text-secondary d-none d-md-block .d-lg-none "><%= Article.public_count %> blog articles and counting!</i>
        </div>
           <%= render "elements/articles-dropdown" %>
    </div>
</nav>