<div class="btn-group">
<button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    What would you like to do?
</button>
<ul class="dropdown-menu">
<% if logged_in? %>

    <li><%= link_to "Create New Article", new_article_path, class: "dropdown-item" %></li>
    <li><hr class="dropdown-divider"></li>
    <% end %>
    <li><%= link_to "Back to articles list", articles_path, class: "dropdown-item" %></li>
</ul>
</div>