<ul>
<% comment.replies.each do |reply| %>
  <li>
    <p><%= reply.reply_body %></p>
    <p>Reply by: <%= reply.user.username %></p>
  </li>
  <p>
  <%= link_to "Delete", [reply.comment, reply], data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</p>
</div>
<% end %>
</ul>
     